@import "../../../style/variables";

.mosaic-card{
  cursor: pointer;
  width: 100%;
  display: flex;
  border-radius: $br;
  overflow: hidden;

  &__blocks{
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__block{
    position: relative;
    flex: 1 1 auto;
    min-width: 50%;
  }

  &__block + &__block{
    margin-left: 7px;
  }

  &__row{
    height: calc(50% - 4px);
    position: relative;
  }

  &__row + &__row{
    margin-top: 8px;
  }

  &__card{
    cursor: pointer;
    position: relative;
  }

  &__card + &__card{
    margin-left: 24px;
  }

  &__card-border{
    height: 100%;
    border: 1px solid $color-orange;
  }

  &__card-body{
    position: relative;
    display: block;
  }

  &--small{
    .mosaic-card__block + .mosaic-card__block{
      margin-left: 2px;
    }

    .mosaic-card__row{
      height: calc(50% - 1px);
      position: relative;
    }

    .mosaic-card__row + .mosaic-card__row{
      margin-top: 2px;
    }
  }

}

.image__hidden-image{
  display: none !important;
}