@import "../../../style/variables";

.single-slider-modal{

  width: 100%;
  height: 100%;
  background-color: $background-input-text;

  &__frame{
    height:100%;
  }

  &__track{
    height:100%;
  }

  &__main{
    height:100%;
  }

  &__slide{
    cursor: pointer;
    height: 100%;
    position: relative;

    &--last{
      padding: 56px 100px;
      overflow-y: auto;
      overflow-x: hidden;

      @media (max-width: $screen-xs) {
        padding: 42px 32px;
      }
    }
  }

  &__slide-title{
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 24px 45px;

    @media (max-width: $screen-xs) {
      font-size: 16px;
      margin: 0 0 16px 0;
    }
  }

  &__other-wedding{
    margin-top: 24px;
  }

  &__image{
    background-size: contain !important;
    background-repeat: no-repeat;
  }

  &__empty {
    background-color: $color-empty;
    padding: 20px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    p {
      text-align: center;
    }
  }

  &__slide-body{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 890px;
    display: block;

    @media (max-width: $screen-lg) {
      min-width: 700px;
    }

    @media (max-width: $screen-md) {
      min-width: 600px;
    }

    @media (max-width: $screen-sm) {
      min-width: 300px;
    }
  }

  &__arrow{
    padding: 0;
    position: absolute;
    border: none;
    outline: none;
    top: calc(50% - 35px);
    z-index: 1;
    width: 60px;
    height: 70px;
    background-color: rgba(255,255,255,0.8) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover{
      background-color: rgba(255,255,255,1) !important;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &--prev{
      left: 16px;
    }

    &--next{
      right: 16px;
    }

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  &__arrow-icon{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0;
    position: relative;
    fill: $color-blue;
  }

  .LazyLoad{
    height: 100%;
  }

  &__btns{
    position: absolute;
    top: 14px;
    right: 8px;
    display: flex;
    align-items: center;
  } 

  &__pin{
    outline: none;
    z-index: 1;
  }

  &__slide-button{
    width: 40px;
    height: 40px;
    background-color: $color-orange;
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 300ms ease;

    &:hover{
      opacity: 1;
    }

    &--pin{
      background-color: $color-pinterest;

      svg{
        fill: #ffffff;
      }
    }

    &--small-svg{
      svg{
        height: 24px;
        width: 24px;
      };
    }

    &:hover.btn--red{
      background-color: $color-red-hover;
    }

  }

  &__slide-icon{
    width: 32px;
    height: 32px;
    fill: #ffffff;
  }
}